page-home {


    ion-content {
        background-image: url('../assets/imgs/background.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center; 
    }


    .poleCenter {
        display: block;
        position: fixed;
        left: 40%;
        bottom: 0px;
        height: 750px;
    }


    .b1 {
        // top: %;
        margin-top: 20px;
        display: block;
        position: relative;
        margin-left: auto;
        margin-right: auto;
        background-image: url('../assets/imgs/Arrow.png');
        width:250px;
        height:90px;
        z-index: 1;
        background-repeat: no-repeat;
        background-position: center; 
    }

    .b2 {
        // top: 4%;
        display: block;
        margin-top: 20px;
        position: relative;
        margin-left: auto;
        margin-right: 60px;
        background-image: url('../assets/imgs/ArrowInverted.png');
        width:250px;
        height:90px;
        z-index: 1;
        background-repeat: no-repeat;
        background-position: center; 
    
    }


    .centeredRight {
        position: absolute;
        top: 58%;
        left: 45%;
        transform: translate(-50%, -50%);
    }

    .centeredLeft {
        position: absolute;
        top: 52%;
        left: 55%;
        transform: translate(-50%, -50%);
    }

  
    

}
