<ion-header>
  <ion-navbar>
    <ion-title text-center>
        <img src="assets/imgs/header.png">


      
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
 
  <!-- <button *ngFor="let button of buttons" ion-item (click)="openDetails(button.key)">
    {{button.buttonText}}
  </button> -->
<span *ngIf="dataAvailable">
  
  <div class="b1" >
    <h5 *ngIf="buttons[0]"  class="centeredRight" (click)="openDetails(buttons[0].key)">{{buttons[0].buttonText}}</h5>
 </div>

 <div class="b2">
    <h5 *ngIf="buttons[1]" class="centeredLeft" (click)="openDetails(buttons[1].key)">{{buttons[1].buttonText}}</h5> 
</div>
<div class="b1">
    <h5 *ngIf="buttons[2]" class="centeredRight" (click)="openDetails(buttons[2].key)">{{buttons[2].buttonText}}</h5> 
</div>
<div class="b2">
    <h5 *ngIf="buttons[3]" class="centeredLeft" (click)="openDetails(buttons[3].key)">{{buttons[3].buttonText}}</h5>
</div>
<div class="b1">
    <h5 *ngIf="buttons[4]" class="centeredRight" (click)="openDetails(buttons[4].key)">{{buttons[4].buttonText}}</h5>
</div>
<div class="b2">
    <h5 *ngIf="buttons[5]" class="centeredLeft" (click)="openDetails(buttons[5].key)">{{buttons[5].buttonText}}</h5>
</div>


 </span> 


 

  <!-- <img src="assets/imgs/Pole.png" class="poleCenter"> -->
    
  <!-- <img src="assets/imgs/B1.png" class="b1">
  <img src="assets/imgs/B2.png" class="b2">
  <img src="assets/imgs/B3.png" class="b1">
  <img src="assets/imgs/B4.png" class="b2">
  <img src="assets/imgs/B5.png" class="b1">
  <img src="assets/imgs/B6.png" class="b2"> -->

  
 
</ion-content>

